<nav class="navbar navbar-light bg-light">
  <div class="container-fluid contentblock">
    <span class="navbar-brand mb-0 h1">
      Mishanin Nikita P3210<br>
      ID: 102525
    </span>
  </div>
</nav>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown contentblock">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Login Form -->
    <form method="post">
      <input #login type="text" id="login" class="fadeIn second" name="login" placeholder="login" required maxlength="30"/>
      <input #password type="password" id="password" class="fadeIn third" name="login" placeholder="password" required maxlength="30"/>
      <input type="button" class="fadeIn fourth" value="Sign In" (click)="validationAndSend(login.value, password.value)">
      <input type="button" class="fadeIn five" value="Sign Up" (click)="onSignUp()">
    </form>

  </div>
<!--  <button type="button" class="btn btn-primary fadeIn fourth btn-lg" (click)="submit(login.value, password.value)">SignIn</button>-->
<!--  <button type="button" class="btn btn-primary fadeIn five btn-lg" (click)="onSignUp()">SignUp</button>-->
</div>
